@import "tailwindcss";

:root {
  --mta-blue: #003DA5;
  --dark: #1A1D23;
  --gray: #777D88;
  --lgray: #ECEDF0;
  --bg: #F2F4F8;
}

body {
  background: var(--bg);
  color: var(--dark);
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
